services:
  app:
    build: .
    container_name: back-office-user-management-app
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - prometheus

  frontend:
    build:
      context: ./frontend-app
    container_name: back-office-user-management-frontend
    ports:
      - "8080:8080"
    depends_on:
      - app

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3001:3000"
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning

volumes:
  grafana-data:
